PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/skillmatcher?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
GROQ_API_KEY=your_groq_api_key_from_console_groq_com
NODE_ENV=development
CLIENT_URL=http://localhost:5173
